.bar--top {
    background: #2A4C34;/*fcc600*/
    color: #FFF;
    border-bottom: 1px solid #2A4C34;
}
#iconMenu {
    color: #FFF;
}
.switch-option__selected {
    background: #2A4C34;
    border-bottom: white;
}
.switch-option {
     background: #2A4C34;
    /*border: 2px solid #999;*/
        color: #6FB5D8;
}
.btn-default {
    background: #999!important;
    color: #FFFFFF!important;
}
.btn-default a {
    color: #FFFFFF!important;
}
.btn-default i {
    color: #FFFFFF!important;
}
.editcar i {
    color: #FFF!important;
}
.staff-name {
    color: #2A4C34;
}
.owl-theme .owl-controls .owl-page.active span,
.starred,
.acounts,
.noUi-connect,
.IconButton {
    background: none repeat scroll 0 0 #999; 
}
/*.buttonsCars a ,.buttonsParts a ,.buttonsCars .phonecar ,.addCart {
    background: none repeat scroll 0 0 #999;
}*/
/*@media (max-width: 769px) {
    .backimage {
        background-color: #2A4C34;
          background-position: center center;

          background-repeat: no-repeat;

          background-attachment: fixed;
          background-size: cover;
    }
}*/
.notification-unread {
    color: #2A4C34;
}

.store--phone-mail-widget a i {
    color: #607D8B!important;
}


.material-card_actions a i {
    color: #607D8B!important;
}