body {
    color: #727272;
}
.bar--top {
    /*background: #BA2234;*/
    background: #F44336; /*primary color    */
    /*color: #FFF;*/
    /*border-bottom: 1px solid #BA2234;*/
    /*border-bottom: 1px solid #D32F2F ;*/
}
.icon-launcher {
    color: #D32F2F ;/*dark primary color - s solo uso*/
}
#iconMenu {
    color: #FFF;
}
.switch-option__selected {
    /*background: #C19F62;*/
    background: #F44336; /*primary color    */
    border-bottom: 2px solid #Ffffff;
    color: white;
}
.switch-option {
    /*border: 2px solid #C19F62;*/
    /*border: 2px solid #F44336;*/
}
.btn-default {
    /*background: #C19F62!important;*/
    background: #607d8b!important;
    color: #FFFFFF!important;
}
.btn-default a {
    color: #FFFFFF!important;
}
.btn-default i {
    color: #FFFFFF!important;
}
.btn-default-invert {
    color: #607d8b!important;
    background: transparent!important;
    border: 1px solid #607d8b;
}
.btn-default-invert a,
.btn-default-invert i {
    color: #FFFFFF!important;
}
.editcar i {
    color: #FFF!important;
}
.staff-name {
    /*color: #BA2234;*/
}
textarea:focus,
select:focus,
input:focus   {
    border-bottom: 2px solid #F44336;/*primary color    */
}
.ui-datepicker .ui-widget-header {
    background: #F44336;/*primary color    */
    color: white;
}
.ui-datepicker td .ui-state-highlight,
.ui-datepicker td .ui-widget-content
.ui-datepicker td .ui-state-highlight,
.ui-datepicker td .ui-widget-header
.ui-datepicker td .ui-state-highlight {
    background: #607d8b!important;
}
.buttonsParts a {
    color: #607d8b;
}
.ui-datepicker .ui-datepicker-current,
.ui-datepicker .ui-datepicker-close {
    color: #607d8b!important;
}
.material-checkbox:checked + label:before {
    background: #F44336;/*primary color    */
}

/* hover style just for information */
.material-checkbox + label:hover:before {
  border: 1px solid #F44336!important;/*primary color    */
}
.material-card .material-card_content {
    color: #727272;
}
.material-card .material-card_title {
    color: #212121;/*primary text*/
}
.material-card_action i {
    color: #607D8B!important;
}
.material-floating-button {
    background-color: white;
    color: #727272;
}
.material-floating-button-default {
    color: white!important;
    background: #607d8b!important;
}
.store--phone-mail-widget a i {
    color: #607D8B!important;
}
.owl-theme .owl-controls .owl-page.active span,
.starred,
.acounts,
.noUi-connect,
.IconButton {
    background: none repeat scroll 0 0 #607d8b;
}
.buttonsCars a ,.buttonsCars .phonecar ,.addCart {
    background: none repeat scroll 0 0 #607d8b;
}
.notification-unread {
    color: #BA2234;
}
.item--vehicle-title {
    color: #727272;
}
.item--vehicle-price .item--vehicle-title {
     color: #b6b6b6;
}
.type-switcher {
    background: #F44336;/*primary color    */
    color: #ffcdd2;/*light primari color/*/
}
.view-content-title {
    color: #212121;/*primary text*/
    font-weight: bold;
}
.field {
    color: #727272;
}
.toggle .noUi-base {
    background: #ffcdd2;
}
.toggle .noUi-handle {
    background: #F44336;
    box-shadow: inset 0 0 1px #ffcdd2,inset 0 1px 3px #ffcdd2, 0 3px 6px -3px #666;
}
.owl-theme .owl-controls {
  /* margin-top: 10px; */
  text-align: center;
  position: absolute;
  z-index: 999;
  /* top: 378px; */
  bottom: 2px;
  left: 45%;

}
.launcher-text {
       color: #212121; /*primary text*/
}
.staff-content a .fa {
  color: #727272; /*secondary text*/
}
.owl-theme .owl-controls .owl-page.active span,
.noUi-connect
 {
    background: none repeat scroll 0 0 #ffcdd2; /*light primari color/*/
}
.buttonsParts a.prymaryAction {
    background: none repeat scroll 0 0 #607d8b; /*acents color*/
    color: white;
}
.textIcons {
    color: white; /*textIcons*/
}
