/imagenes
/configuraciones
/cop.bat
/dealerapp-phonegap.sln
/dealerapp-phonegap.v12.suo
/Web.config
/configuraciones
/imagenes
/imagenes
/configuraciones
/Web.config
/configuraciones/ratto
/configuraciones/pusetto
/configuraciones/client
/configuraciones/client/config.xml
/configuraciones/client/Settings.xml
/configuraciones/pusetto/config.xml
/configuraciones/pusetto/Settings.xml
/configuraciones/ratto/config.xml
/configuraciones/ratto/Settings.xml
/imagenes/icons/android
/imagenes/icons/ios
/imagenes/icons/ios/pusetto
/imagenes/icons/ios/ratto
/imagenes/icons/ios/client
/imagenes/icons/ios/client/icon-72.png
/imagenes/icons/ios/client/icon-76.png
/imagenes/icons/ios/client/icon-120.png
/imagenes/icons/ios/client/icon-152.png
/imagenes/icons/ios/client/icon-57.png
/imagenes/icons/ios/pusetto/icon-57.png
/imagenes/icons/ios/pusetto/icon-72.png
/imagenes/icons/ios/pusetto/icon-76.png
/imagenes/icons/ios/pusetto/icon-120.png
/imagenes/icons/ios/pusetto/icon-152.png
/imagenes/icons/ios/ratto/icon-57.png
/imagenes/icons/ios/ratto/icon-72.png
/imagenes/icons/ios/ratto/icon-76.png
/imagenes/icons/ios/ratto/icon-120.png
/imagenes/icons/ios/ratto/icon-152.png
/imagenes/screen/android
/imagenes/screen/ios
/imagenes/screen/ios/ratto
/imagenes/screen/ios/pusetto
/imagenes/screen/ios/ratto/hdpi
/imagenes/screen/ios/ratto/ldpi
/imagenes/screen/ios/ratto/mdpi
/imagenes/screen/ios/ratto/xhdpi
/imagenes/screen/ios/ratto/hdpi/screen.png
/imagenes/screen/ios/ratto/ldpi/screen.png
/imagenes/screen/ios/ratto/mdpi/screen.png
/imagenes/screen/ios/ratto/xhdpi/screen.png
/imagenes/screen/ios/pusetto/hdpi/screen.png
/imagenes/screen/ios/pusetto/ldpi/screen.png
/imagenes/screen/ios/pusetto/mdpi/screen.png
/imagenes/screen/ios/pusetto/xhdpi/screen.png
/imagenes/screen/ios/client/hdpi/screen.png
/imagenes/screen/ios/client/ldpi/screen.png
/imagenes/screen/ios/client/mdpi/screen.png
/imagenes/screen/ios/client/xhdpi/screen.png
/imagenes/screen/android/client/xhdpi/screen.png
/imagenes/screen/android/client/mdpi/screen.png
/imagenes/screen/android/client/ldpi/screen.png
/imagenes/screen/android/client/hdpi/screen.png
/imagenes/screen/android/pusetto/*
/imagenes/screen/android/pusetto/*
/imagenes/screen/android/pusetto/*
/imagenes/screen/android/pusetto/*
/imagenes/screen/android/pusetto/xhdpi/screen.png
/imagenes/screen/android/pusetto/mdpi/screen.png
/imagenes/screen/android/pusetto/ldpi/screen.png
/imagenes/screen/android/pusetto/hdpi/screen.png
